<div class="bank" id="bank">
  <div class="bank-top"><span class="k">My bankroll</span><span class="k" id="bankNote"></span></div>
  <div class="bank-grid">
    <div class="bstat"><label class="k" for="startMoney">Starting money</label><div class="bin">$<input class="inp" id="startMoney" type="number" min="0" step="0.01" inputmode="decimal" value="100"></div></div>
    <div class="bstat"><div class="k">Current balance</div><div class="v" id="curBal">$100.00</div><div class="s" id="curSub">&nbsp;</div></div>
  </div>
  <div class="todaybet" id="todayBet"></div>
</div>
